<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DTR_PMS(製程系統)</title>
<script src="./thirdparty/js/jquery-3.5.1.min.js"></script>
<script src="./thirdparty/js/jquery-ui-1.12.1.min.js"></script>
<script src="./thirdparty/js/bootstrap-4.6.0.min.js"></script>
<script src="./thirdparty/js/vue-2.6.11.min.js"></script>

<link rel="stylesheet" href="./thirdparty/css/jquery-ui-1.12.1.min.css" />
<link rel="stylesheet" href="./thirdparty/css/bootstrap-4.6.0.min.css" />
<link rel="stylesheet" href="./thirdparty/bootstrap-icons-1.4.0/bootstrap-icons.css" />
<link rel="icon" type="img/svg" href="./img/icon.png">
<style type="text/css">
body {
	background-color: #f8f9fc;
}

.custom-select {
	height: 34px;
}
</style>
</head>
<body id="main">
	<!-- 開頭(header) -->
	<div id="header_t_all"></div>
	<!-- 選單(nav) -->
	<div id="nav_t_all"></div>
	<!-- 錯誤訊息(alert) -->
	<div id="alert_t_all"></div>
	<!-- 本體(body) -->
	<div id="body_t_all"></div>
	<!-- 底部(footer) -->
	<div id="footer_t_all"></div>

</body>
<script type="text/javascript" th:inline="javascript">
	//各類主頁面 Vue 位置(需註冊)
	var t_header = "",t_nav = "",t_alert = "",t_body = "",t_footer = "";
	//Body 各類-模板 Vue 位置(需註冊)
	var home = "",search = "",modify = "",print = "",download = "",upload = "",analysis = "",workstation = "";
	//控制端
	var main = new Vue({
		el : "#main",
		data : {
			//登入存入資料
			loginData:{
				user_name : '',	user_status : '',user_position : '',
				user_login_time : '',user_login_last_time : '',
			},
			//每次回傳資料/使用者資料
			allData: "",info_user:{},
			//倒數計時
			countDownId : "",countDownSecond : 300,
		},
		//初始化
		created() {
			console.log("main.html(created)");
			//基本資料
			this.allData = JSON.parse(/*[[${initMain}]]*/+"")['resp_content'];
			this.info_user = this.allData['info_user'];
			console.log(this.allData);
			//模板-清單-家(default)
			$("#header_t_all").load("./html/header/header_index.html");
			//模版-Menu
			$("#nav_t_all").load("./html/nav/nav_index.html", function() {
				//帶入模板內資料			
				var menus=[];
				for(var i = 0;i<main.allData['body'].length ;i++){
					var menus_one = {};
					menus_one.g_name = main.allData['body'][i]['g_name'];
					menus_one.i_name = main.allData['body'][i]['i_name'];
					menus_one.url = main.allData['body'][i]['i_url'];
					menus_one.sort = main.allData['body'][i]['i_sort'];
					menus.push(menus_one);
				}
				t_nav.setMenu(menus);
			});
			//模板-訊息資訊
			$("#alert_t_all").load("./html/nav/nav_alert.html",function(){
				t_alert.alertshow(main.allData['info_color'],main.allData['info']);
			});
			//模板-主體
			$("#body_t_all").load("./html/body/body_index.html",function(){
				t_body.initHome();
			});
			//模板-網站宣告
			$("#footer_t_all").load("./html/footer/footer_index.html");
			
			//啟動計時
			//this.timeOut(true);
		},
		methods : {
			//請求模組
			ajaxSend(s_url,s_type,s_data) {
				//排除空白
				var s_data = JSON.stringify(s_data).replace(/\s+/g, "");
				//Ajax 傳輸模組
				var ajax = {
						url :  "ajax/"+s_url,
						type : s_type,//POST/GET/PUT/DELETE
						dataType : "JSON",
						contentType : "application/json; charset=utf-8",
						data : s_data,
					};
				//Cell 
				$.ajax({
					url :ajax.url,
					type : ajax.type,
					dataType : ajax.dataType,
					contentType : ajax.contentType,
					data : ajax.data,
					success(event) {
						console.log("ajax to success:"+JSON.stringify(event));
						main.allData = event['resp_content'];
						//Step1.顯示 訊息
						t_alert.alertshow(main.allData['info_color'],main.allData['info']);
						//Step2.是否 轉跳畫面
						if(main.allData['html_body']!=""){
							//銷毀舊的 樣板
							t_body.$destroy();
							$("#body_t_all").load("./html/body/"+main.allData['html_body']);
							
						}else{
							//Step3.呼叫 刷新模板方法
							
							
						}
						
						//進入倒數中
						//clearInterval(this.countDownId);
						//this.countDownSecond = 800;
						//main.timeOut(true);
						//進入運作中
						//main.loading(false);
					},
					error(event) {
						console.log("ajax to fail:" + JSON.stringify(event));
						t_alert.alertshow("danger", "[002] The command was executed [ERROR]!!");
						if (event.status == 200) {
							//沒有session 拒絕時
							window.location.replace("login.basil");
						}
						//main.loading(false);
					},
				});
			},
			
			//timeOut 到計時 登出(提醒失效)
			countDown() {
				this.countDownSecond -= 1;
				if (this.countDownSecond == 60) {
					$("#countDown").removeClass("d-none");
				}
				if (this.countDownSecond < 0) {
					clearInterval(this.countDownId);
					$("#countDown").addClass("d-none");
					templateNav.signout();
				}
				$("#timeOutmsg h2").text("程序登出中....請點我繼續..." + this.countDownSecond);
				//console.log("倒數登出 : "+this.countDownSecond);
			},
			timeOut(check) {
				if (check) {
					//開始計時
					this.countDownId = setInterval(this.countDown, 1000); //每秒執行一次，賦值
				} else {
					//啟動計時
					clearInterval(this.countDownId);
					this.countDownSecond = 800;
					$("#countDown").addClass("d-none");
					//觸發紀錄
					var url = "./sessionUpdate.do";
					var data = JSON.stringify({
						data : {
							datetime : "",
							action : "R",
							whoami : main.loginData.account,
							cellBackName : "",
							cellBackOrder : "",
							content : "",
						},
					});
					main.ajaxSend(url, data);
				}
			},
			//程序運作中~
			loading : function(open) {
				if (open) {
					$("#loading").removeClass("d-none");
				} else {
					$("#loading").addClass("d-none");
				}
			},
		},
	});
</script>
</html>

