<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DTR_PMS(製程系統)</title>
<script src="./thirdparty/js/jquery-3.5.1.min.js"></script>
<script src="./thirdparty/js/jquery-ui-1.12.1.min.js"></script>
<script src="./thirdparty/js/bootstrap-4.6.0.min.js"></script>
<script src="./thirdparty/js/vue-2.6.11.min.js"></script>

<link rel="stylesheet" href="./thirdparty/css/jquery-ui-1.12.1.min.css" />
<link rel="stylesheet" href="./thirdparty/css/bootstrap-4.6.0.min.css" />
<link rel="stylesheet" href="./thirdparty/bootstrap-icons-1.4.0/bootstrap-icons.css" />
<link rel="icon" type="img/svg" href="./img/icon.png">
<style type="text/css">
body {
	background-color: #f8f9fc;
}

.custom-select {
	height: 34px;
}
</style>
</head>
<body id="main">
	<!-- 開頭(header) -->
	<div id="header_t_all"></div>
	<!-- 選單(nav) -->
	<div id="nav_t_all"></div>
	<!-- 錯誤訊息(alert) -->
	<div id="alert_t_all"></div>
	<!-- 本體(body) -->
	<div id="body_t_all"></div>
	<!-- 底部(footer) -->
	<div id="footer_t_all"></div>

	<!-- <span class="d-none" id="resp_content" th:text="${resp_content}"></span> -->
</body>
<script type="text/javascript">

	//各類主頁面 Vue 位置(需註冊)
	var t_header = "";
	var t_nav = "";
	var t_alert = "";
	var t_body = "";
	var t_footer = "";
	//Body 各類-模板 Vue 位置(需註冊)
	var home = "";
	var search = "";
	var modify = "";
	var print = "";
	var download = "";
	var upload = "";
	var analysis = "";
	var workstation = "";
	//控制端
	var main = new Vue({
		el : "#main",
		data : {
			//登入存入資料
			loginData:{
				user_name : '',
				user_login_time : '',
				user_login_last_time : '',
				user_status : '',
				user_position : '',
			},
			//每次回傳資料
			allData: "",
			//Ajax 傳輸模組
			ajaxCell : {
				url : "",
				type : "POST",
				contentType : "application/json; charset=utf-8",
				dataType : "JSON",
				data : "",
			},
			//倒數計時
			countDownId : "",
			countDownSecond : 300
		},
		//初始化
		created() {
			//this.allData = [[${resp_content}]];
			
			//模板-清單-家(default)
			$("#header_t_all").load("./html/header/header_index.html");
			
			$("#nav_t_all").load("./html/nav/nav_index.html", function() {
				//測試
				var examples=[];
				for(var i = 1;i<4 ;i++){
					var example_one = {};
					example_one.g_name = 2+"_g_name";
					example_one.i_name = i+"_i_name";
					example_one.url = i+"_i_url";
					example_one.sort =  i+"_i_sort";
				    examples.push(example_one);
				}
				
				//帶入模板內資料
				t_nav.setMenu(examples);
			});
			$("#alert_t_all").load("./html/nav/nav_alert.html");
			$("#body_t_all").load("./html/body/body_index.html");
			$("#footer_t_all").load("./html/footer/footer_index.html");
			
			//啟動計時
			//this.timeOut(true);
		},
		methods : {
			ajaxSend(url, dataSend) {
				//進入倒數中
				clearInterval(this.countDownId);
				this.countDownSecond = 800;
				main.timeOut(true);
				//進入運作中
				main.loading(true);
				//排除空白
				var data = dataSend.replace(/\s+/g, "");
				$.ajax({
					url : url,
					type : this.ajaxCell.type,
					contentType : this.ajaxCell.contentType,
					dataType : this.ajaxCell.dataType,
					data : data,
					success(event) {
						main.allData = event;
						main.contentData = event.r_content;
						main.alertshow(true, " 結果->" + event.r_message);
						//模組 轉跳 畫面
						console.log(event.r_cellBackName + " : to success");
						//固定回傳模組
						if (event.r_cellBackName != null) {
							switch (event.r_cellBackName) {
							case "navAfter":
								templateNav["navAfter"](event);
								break;
							case "bodyAfter":
								templateBody["bodyAfter"](event);
								break;
							case "headerAfter":
								templateHeader["headerAfter"](event);
								break;
							case "footerAfter":
								templateFooter["footerAfter"](event);
								break;
							}
						}
						main.loading(false);
					},
					error(event) {
						main.alertshow(true, "Something to fail");
						console.log("to index fail:" + event);
						if (event.status == 200) {
							//沒有session 拒絕時
							window.location.replace("login.html");
						}
						main.loading(false);
					},
				});
			},
			
			//timeOut 到計時 登出(提醒失效)
			countDown() {
				this.countDownSecond -= 1;
				if (this.countDownSecond == 60) {
					$("#countDown").removeClass("d-none");
				}
				if (this.countDownSecond < 0) {
					clearInterval(this.countDownId);
					$("#countDown").addClass("d-none");
					templateNav.signout();
				}
				$("#timeOutmsg h2").text("程序登出中....請點我繼續..." + this.countDownSecond);
				//console.log("倒數登出 : "+this.countDownSecond);
			},
			timeOut(check) {
				if (check) {
					//開始計時
					this.countDownId = setInterval(this.countDown, 1000); //每秒執行一次，賦值
				} else {
					//啟動計時
					clearInterval(this.countDownId);
					this.countDownSecond = 800;
					$("#countDown").addClass("d-none");
					//觸發紀錄
					var url = "./sessionUpdate.do";
					var data = JSON.stringify({
						data : {
							datetime : "",
							action : "R",
							whoami : main.loginData.account,
							cellBackName : "",
							cellBackOrder : "",
							content : "",
						},
					});
					main.ajaxSend(url, data);
				}
			},
			//程序運作中~
			loading : function(open) {
				if (open) {
					$("#loading").removeClass("d-none");
				} else {
					$("#loading").addClass("d-none");
				}
			},
		},
	});
</script>
</html>

