<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DTR_PMS(製程系統)</title>
<script src="./thirdparty/js/jquery-3.5.1.min.js"></script>
<script src="./thirdparty/js/jquery-ui-1.12.1.min.js"></script>
<script src="./thirdparty/js/bootstrap-4.6.0.min.js"></script>
<script src="./thirdparty/js/vue-2.6.11.min.js"></script>

<link rel="stylesheet" href="./thirdparty/css/jquery-ui-1.12.1.min.css" />
<link rel="stylesheet" href="./thirdparty/css/bootstrap-4.6.0.min.css" />
<link rel="stylesheet" href="./thirdparty/bootstrap-icons-1.4.0/bootstrap-icons.css" />
<link rel="icon" type="img/svg" href="./img/icon.png">
<style type="text/css">
body {
	background-color: #f8f9fc;
}

#nav_m_all {
	background-color: #212529;
	max-height: 100vh;
	top: 43px;
	min-width: 265px;
}

#user img {
	width: 25px;
}

#nav_u {
	left: auto;
	top: 43px;
	min-width: 130px;
}

#logo {
	width: 25px;
}
</style>
</head>
<body id="main">
	<!-- 開頭(header) -->
	<div id="header_t_all"></div>
	<!-- 選單(nav) -->
	<div class="navbar p-1 navbar-dark bg-dark justify-content-start shadow" id="nav_t_all">
		<img class="bg-white" id="logo" src="./img/login.png" alt="DTR ERP"> <a class="navbar-brand p-0 pl-2" href="#"><i class="h3">DTR PMS</i></a>

		<button class="p-1 btn btn-sm border border-light btn-outline-secondary" id="nav_m_all_btn" type="button" data-toggle="collapse" data-target="#nav_m_all" aria-controls="nav_m_all"
			aria-expanded="false">
			<div class="row m-0">
				<div class="navbar-toggler-icon"></div>
				<div class="pl-2">
					<h5 class="text-white m-0">Menu</h5>
				</div>
			</div>
		</button>
		<div id="user" class="col-sm col-5 m-0 row justify-content-end ">
			<div class="pl-2 pt-1">
				<h5 class="text-white m-0" id="name">Name</h5>
			</div>
			<div class="p-0 pr-2 pl-2 ml-2" id="nav_u_btn" data-toggle="collapse" data-target="#nav_u" aria-controls="nav_u" aria-expanded="false">
				<button class="btn btn-sm border border-light btn-outline-secondary">
					<div>
						<img class="img-profile rounded-circle" src="./img/undraw_profile.svg">
					</div>
				</button>
			</div>
		</div>
	</div>
	<!-- 選單-功能 -->
	<div class="collapse fixed-top shadow overflow-auto col-lg-2 col-md-3 col-sm-4 col-5 p-0" id="nav_m_all">
		<div class="p-3">
			<h5 class="text-light">Collapsed content</h5>
			<ul class="nav navbar-nav">
				<li id="nav_m_n1" data-toggle="collapse" data-target="#nav_m_l1" aria-controls="nav_m_l1" aria-expanded="false">
					<div class="btn-outline-secondary">
						<a class="text-white nav-link p-2 dropdown-toggle" href="#"><i class="bi bi-tags mr-2"></i><b>功能選單1</b></a>
					</div>
					<div class="collapse ml-3" onclick="$('#nav_m_all_btn').trigger('click')" id="nav_m_l1">
						<ul class="nav navbar-nav">
							<li class="btn-outline-secondary"><a class="text-white nav-link p-2" href="#"><i class="bi bi-box-arrow-in-down-right mr-2"></i>Home_1</a></li>
							<li class="btn-outline-secondary"><a class="text-white nav-link p-2" href="#"><i class="bi bi-box-arrow-in-down-right mr-2"></i>Link_1</a></li>
							<li class="btn-outline-secondary"><a class="text-white nav-link p-2" href="#"><i class="bi bi-box-arrow-in-down-right mr-2"></i>Thing_1</a></li>
						</ul>
					</div>
				</li>
				<li id="nav_m_n2" data-toggle="collapse" data-target="#nav_m_l2" aria-controls="nav_m_l2" aria-expanded="false">
					<div class="btn-outline-secondary">
						<a class="text-white nav-link p-2 dropdown-toggle" href="#"><i class="bi bi-tags mr-2"></i><b>功能選單2</b></a>
					</div>
					<div class="collapse ml-3" onclick="$('#nav_m_all_btn').trigger('click')" id="nav_m_l2">
						<ul class="nav navbar-nav">
							<li class="btn-outline-secondary"><a class="text-white nav-link p-2" href="#"><i class="bi bi-box-arrow-in-down-right mr-2"></i>Home_2</a></li>
							<li class="btn-outline-secondary"><a class="text-white nav-link p-2" href="#"><i class="bi bi-box-arrow-in-down-right mr-2"></i>Link_2</a></li>
							<li class="btn-outline-secondary"><a class="text-white nav-link p-2" href="#"><i class="bi bi-box-arrow-in-down-right mr-2"></i>Thing_2</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- 選單-使用者資訊 -->
	<div class="collapse fixed-top mr-3 bg-white rounded shadow col-lg-1 col-md-2 col-sm-3 col-4 p-1" id="nav_u">
		<div class="p-1" onclick="$('#nav_u_btn').trigger('click')">
			<a class="dropdown-item p-2" href="#"><i class="bi bi-person mr-2"></i>Profile</a>
			<div></div>
			<a class="dropdown-item p-2" href="#"><i class="bi bi-wrench mr-2"></i>Settings</a>
			<div class="dropdown-divider p-0"></div>
			<a class="dropdown-item p-2" href="#"><i class="bi bi-door-open mr-2"></i>Logout</a>
		</div>
	</div>
	<!-- 本體(body) -->
	<div class="text-center col-md" id="body_t_all">
		<div class="p-1 mt-2">
			<h4 class="m-0">
				<b>單元名稱</b>
			</h4>
		</div>
		<div class="p-1">
			<ul class="nav nav-tabs shadow-sm" id="myTab" role="tablist">
				<li class="nav-item"><a class="p-1 mr-1 nav-link btn-sm active" data-toggle="tab" role="tab" aria-selected="true" aria-controls="search" href="#search" id="tab-search"><i
						class="bi bi-search mr-1"></i>Search</a></li>
				<li class="nav-item"><a class="p-1 mr-1 nav-link btn-sm" data-toggle="tab" role="tab" aria-selected="false" aria-controls="modify" href="#modify" id="tab-modify"><i
						class="bi bi-pencil-square mr-1"></i> Create / Modify / Delete</a></li>
				<li class="nav-item"><a class="p-1 mr-1 nav-link btn-sm" data-toggle="tab" role="tab" aria-selected="false" aria-controls="print" href="#print" id="tab-print"><i
						class="bi bi-printer-fill mr-1"></i>Print / Download</a></li>
				<li class="nav-item"><a class="p-1 mr-1 nav-link btn-sm" data-toggle="tab" role="tab" aria-selected="false" aria-controls="upload" href="#upload" id="tab-upload"><i
						class="bi bi-upload mr-1"></i>Upload</a></li>
				<li class="nav-item"><a class="p-1 mr-1 nav-link btn-sm" data-toggle="tab" role="tab" aria-selected="false" aria-controls="analysis" href="#analysis" id="tab-analysis"><i
						class="bi bi-graph-up mr-1"></i>Analysis report</a></li>
				<li class="nav-item"><a class="p-1 mr-1 nav-link btn-sm" data-toggle="tab" role="tab" aria-selected="false" aria-controls="workstation" href="#workstation" id="tab-workstation"><i
						class="bi bi-joystick mr-1"></i>Workstation mode</a></li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<!-- tab-search -->
				<div class="tab-pane fade show active" id="search" role="tabpanel" aria-labelledby="tab-search">
					<!-- 查詢項目 -->
					<div class="shadow mt-2 text-left">
						<div class=" bg-white rounded-top m-0 pl-1 h5">Search</div>
						<div class="p-1 pl-2 pr-2 pt-2">
							<div class="row p-0 m-0">
								<div class="row col-4 p-0 m-0">
									<div class="col-6 pt-1 pb-1">查詢項目1</div>
									<div class="col-6 pt-1 pb-1 border border-dark rounded" contenteditable="true">1</div>
								</div>
								<div class="row col-4 p-0 m-0">
									<div class="col-6 pt-1 pb-1">查詢項目2</div>
									<div class="col-6 pt-1 pb-1 border border-dark rounded" contenteditable="true">2</div>
								</div>
								<div class="row col-4 p-0 m-0">
									<div class="col-6 pt-1 pb-1">查詢項目3</div>
									<div class="col-6 pt-1 pb-1 border border-dark rounded" contenteditable="true">3</div>
								</div>
							</div>
						</div>
						<div class="p-1 pl-2 pr-2 pb-2">
							<div class="row p-0 m-0">
								<div class="row col-4 p-0 m-0">
									<div class="col-6 pt-1 pb-1">查詢項目4</div>
									<div class="col-6 pt-1 pb-1 border border-dark rounded" contenteditable="true">4</div>
								</div>
								<div class="row col-4 p-0 m-0">
									<div class="col-6 pt-1 pb-1">查詢項目5</div>

									<select class="col-6 custom-select custom-select-sm">
										<option selected>Open this select menu</option>
										<option value="1">One</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>

								</div>
								<div class="row col-4 p-0 m-0">
									<div class="col-12 row justify-content-around m-0 pr-0">
										<button class="col-md-5 mt-1 p-0 btn btn-primary btn-sm" type="submit">Search</button>
										<button class="col-md-5 mt-1 p-0 btn btn-warning btn-sm" type="submit">Clear</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 查詢結果 -->
					<div class="shadow mt-2">
						<div class="text-left bg-white rounded-top m-0 pl-1 h5">Result</div>
						<div class=" p-2">
							<div class="pb-2 m-0 row">
								<div class="col-4 h6 m-0 p-0 mt-1 row justify-content-start ">
									<div class="mr-2">
										<i class="bi bi-shield"></i>Lock
									</div>
									<div class="mr-2">
										<i class="bi bi-receipt"></i>Detail
									</div>
									<div class="mr-2">
										<i class="bi bi-vector-pen"></i>Modify
									</div>
									<div class="mr-2">
										<i class="bi bi-x-octagon"></i>Delete
									</div>

								</div>
								<div class="col-1"></div>
								<div class="col-7 m-0 p-0 row justify-content-end">
									<ul class="pagination pagination-sm m-0 row">
										<li class="page-item"><a class="page-link" href="#"> Previous 10 </a></li>
										<li class="page-item active"><a class="page-link pr-3 pl-3" href="#">1</a></li>
										<li class="page-item"><a class="page-link pr-3 pl-3" href="#">2</a></li>
										<li class="page-item"><a class="page-link pr-3 pl-3" href="#">3</a></li>
										<li class="page-item"><a class="page-link pr-3 pl-3" href="#">4</a></li>
										<li class="page-item"><a class="page-link pr-3 pl-3" href="#">5</a></li>
										<li class="page-item"><a class="page-link pr-3 pl-3" href="#">6</a></li>
										<li class="page-item"><a class="page-link pr-3 pl-3" href="#">7</a></li>
										<li class="page-item"><a class="page-link pr-3 pl-3" href="#">8</a></li>
										<li class="page-item"><a class="page-link pr-3 pl-3" href="#">9</a></li>
										<li class="page-item"><a class="page-link pr-3 pl-3" href="#">10</a></li>
										<li class="page-item"><a class="page-link" href="#"> Next 10 </a></li>
									</ul>
								</div>
							</div>
							<table class="table table-sm table-hover table-striped table-bordered m-0">
								<thead class="thead bg-dark table-dark">
									<tr>
										<th scope="col" style="width: 35px"><i class="bi bi-shield"></i></th>
										<th scope="col" style="width: 35px"><i class="bi bi-receipt"></i></th>
										<th scope="col" style="width: 35px"><i class="bi bi-vector-pen"></i></th>
										<th scope="col" style="width: 35px"><i class="bi bi-x-octagon"></i></th>
										<th scope="col">ID</th>
										<th scope="col">First</th>
										<th scope="col">Last</th>
										<th scope="col">Handle</th>
									</tr>
								</thead>
								<tbody class="">
									<tr>
										<td>
											<div class="custom-control custom-radio custom-control-inline m-0">
												<input type="radio" id="line0" name="line" class="custom-control-input" value="line0" checked> <label class="custom-control-label" for="line0"></label>
											</div>
										</td>
										<td>
											<div class="custom-control custom-radio custom-control-inline m-0">
												<input type="radio" id="line1" name="line" class="custom-control-input" value="line1"> <label class="custom-control-label" for="line1"></label>
											</div>
										</td>
										<td>
											<div class="custom-control custom-radio custom-control-inline m-0">
												<input type="radio" id="line2" name="line" class="custom-control-input" value="line2"> <label class="custom-control-label" for="line2"></label>
											</div>
										</td>
										<td>
											<div class="custom-control custom-radio custom-control-inline m-0">
												<input type="radio" id="line3" name="line" class="custom-control-input" value="line3"> <label class="custom-control-label" for="line3"></label>
											</div>
										</td>
										<td>1</td>
										<td>Mark</td>
										<td>Otto</td>
										<td>@mdo</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="modify" role="tabpanel" aria-labelledby="tab-modify">...tab-modify</div>
				<div class="tab-pane fade" id="print" role="tabpanel" aria-labelledby="tab-print">...tab-print</div>
				<div class="tab-pane fade" id="upload" role="tabpanel" aria-labelledby="tab-upload">...tab-upload</div>
				<div class="tab-pane fade" id="analysis" role="tabpanel" aria-labelledby="tab-analysis">...tab-analysis</div>
				<div class="tab-pane fade" id="workstation" role="tabpanel" aria-labelledby="tab-workstation">...tab-workstation</div>
			</div>
		</div>
	</div>
	<!-- 底部(footer) -->
	<div id="footer_t_all" class="text-muted small col-md">
		<div class="m-0 p-2 text-center row justify-content-around" id="footer">
			<div class="col-4">Browser:1.Brave 2.Chrome 3.Microsoft Edge :1366*768</div>
			<div class="col-4">&copy; 2021 DT Research, Inc. All Rights Reserved. ver: Beta v0.72.8</div>
			<div class="col-4">Any questions, please consult the administrator TE:321</div>
		</div>
	</div>
	<span class="d-none" id="resp_content" th:text="${resp_content}"></span>
</body>
<script type="text/javascript">
	//各類模型 Vue 位置(需註冊)
	var templateHeader = "";
	var templateNav = "";
	var templateBody = "";
	var templateFooter = "";
	//控制端
	var main = new Vue({
		el : "#main",
		data : {
			//每次回傳資料
			/* allData: ${ resp_content },*/
			//登入存入資料
			loginData : "",
			//各類模型 資料
			contentData : "",
			//Ajax 傳輸模組
			ajaxCell : {
				url : "",
				type : "POST",
				contentType : "application/json; charset=utf-8",
				dataType : "JSON",
				data : "",
			},
			//倒數計時
			countDownId : "",
			countDownSecond : 300
		},
		created : function() {
			//初始化

			//var message = [[${resp_content}]];
			//console.log(message);

			//this.contentData = this.allData["r_content"];
			//this.loginData = this.allData["r_content"]["longinInfo"];
			//取得模板
			//$("#header").load(this.contentData["template"]["header"]);
			//$("#nav").load(this.contentData["template"]["nav"]);
			//$("#body").load(this.contentData["template"]["body"]);
			//$("#footer").load(this.contentData["template"]["footer"]);
			//啟動計時
			//this.timeOut(true);
		},
		methods : {
			ajaxSend : function(url, dataSend) {
				//進入倒數中
				clearInterval(this.countDownId);
				this.countDownSecond = 800;
				main.timeOut(true);
				//進入運作中
				main.loading(true);
				//排除空白
				var data = dataSend.replace(/\s+/g, "");
				$.ajax({
					url : url,
					type : this.ajaxCell.type,
					contentType : this.ajaxCell.contentType,
					dataType : this.ajaxCell.dataType,
					data : data,
					success : function(event) {
						main.allData = event;
						main.contentData = event.r_content;
						main.alertshow(true, " 結果->" + event.r_message);
						//模組 轉跳 畫面
						console.log(event.r_cellBackName + " : to success");
						//固定回傳模組
						if (event.r_cellBackName != null) {
							switch (event.r_cellBackName) {
							case "navAfter":
								templateNav["navAfter"](event);
								break;
							case "bodyAfter":
								templateBody["bodyAfter"](event);
								break;
							case "headerAfter":
								templateHeader["headerAfter"](event);
								break;
							case "footerAfter":
								templateFooter["footerAfter"](event);
								break;
							}
						}
						main.loading(false);
					},
					error : function(event) {
						main.alertshow(true, "Something to fail");
						console.log("to index fail:" + event);
						if (event.status == 200) {
							//沒有session 拒絕時
							window.location.replace("login.jsp");
						}
						main.loading(false);
					},
				});
			},
			alertshow : function(open, message) {
				if (open) {
					$("#alert_message").text("資訊: " + message);
					$(".alert").addClass("show");
					setTimeout(function() {
						$(".alert").removeClass("show");
						$("#alert_message").text("");
					}, 8000);
				}
			},
			//timeOut 到計時 登出(提醒失效)
			countDown : function() {
				this.countDownSecond -= 1;
				if (this.countDownSecond == 60) {
					$("#countDown").removeClass("d-none");
				}
				if (this.countDownSecond < 0) {
					clearInterval(this.countDownId);
					$("#countDown").addClass("d-none");
					templateNav.signout();
				}
				$("#timeOutmsg h2").text("程序登出中....請點我繼續..." + this.countDownSecond);
				//console.log("倒數登出 : "+this.countDownSecond);
			},
			timeOut : function(check) {
				if (check) {
					//開始計時
					this.countDownId = setInterval(this.countDown, 1000); //每秒執行一次，賦值
				} else {
					//啟動計時
					clearInterval(this.countDownId);
					this.countDownSecond = 800;
					$("#countDown").addClass("d-none");
					//觸發紀錄
					var url = "./sessionUpdate.do";
					var data = JSON.stringify({
						data : {
							datetime : "",
							action : "R",
							whoami : main.loginData.account,
							cellBackName : "",
							cellBackOrder : "",
							content : "",
						},
					});
					main.ajaxSend(url, data);
				}
			},
			//程序運作中~
			loading : function(open) {
				if (open) {
					$("#loading").removeClass("d-none");
				} else {
					$("#loading").addClass("d-none");
				}
			},
		}
	});
</script>
</html>

