<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DTR_PMS(製程系統)</title>
<script src="./thirdparty/jquery-3.5.1/jquery.min.js"></script>
<script src="./thirdparty/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="./thirdparty/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="./thirdparty/jquery-ui-1.12.1/jquery-ui.min.css" />
<link rel="stylesheet" href="./thirdparty/bootstrap-4.6.0-dist/css/bootstrap.min.css" />


</head>
<header></header>
<nav></nav>
<body>


</body>
<footer></footer>
</html>